<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">

  <title><%=title%> | </title>

  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

      <link rel="stylesheet" href="/../css/style-mainmenu.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="theme-color" content="#29434d" />
          <meta name="msapplication-TileColor" content="#29434d" />
         

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <style>
  
  .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}


  
  </style>
  
</head>

<body>

  <div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
      
        <% data1.forEach((sensor, index) => { %>
          

        <div class="user-info">
          <span class="user-name">
              <strong><%=sensor.username%></strong>
          </span>
          <span class="user-role"><%=sensor.country%></span>
          
          <%})%>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span> Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
         
          <li>
            <a href="/mytest">
              <i class="fa fa-check"></i>
              <span>My Tests</span>
              
            </a>
          </li>
          <li>
              <a href="#">
              <i class="fa fa-bullhorn"></i>
              <span>Reminder</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
           
          </li>
          <li>
            <a href="#">
              <i class="far fa-user"></i>
              <span>Expertise</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa  fa-eye"></i>
              <span>Feeds</span>
            </a>
          
          </li>
          <li>
            <a href="#">
              <i class="fa fa-university"></i>
              <span>Schemes</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Library</span>
            </a>
            


            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Google maps</a>
                </li>
                <li>
                  <a href="#">Open street map</a>
                </li>
              </ul>
            </div>
          </li>
         <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="/farmerguide">
              <i class="fa fa-folder"></i>
              <span>Farmers Guide</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="/login">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
        <div class="container-fluid">

                <button class="collapsible">Pradhan Mantri Fasal Bima Yojana</button>
                <div class="content">
                  <p>
                  </br>Pradhan Mantri Fasal Bima Yojana (PMFBY) aims at supporting sustainable production in agriculture sector by way of</br></br>
                ► Providing financial support to farmers suffering crop loss/damage arising out of unforeseen events.</br>
                ► Stabilizing the income of farmers to ensure their continuance in farming.</br>
                ► Encouraging farmers to adopt innovative and modern agricultural practices.</br>
                ► Ensuring flow of credit to the agriculture sector which will contribute to food security, crop diversification and enhancing growth and competitiveness of agriculture sector besides protecting farmers from production risks.
                </br></br>
                <a href="/../pdf/PMFBY_Guidelines.pdf">Click here for Guidelines ( 1.09 MB )</a>
            </p>
                </div>
                </br>
                <button class="collapsible">Soil Health Card</button>
                <div class="content">
                  <p>
                    </br>
                    ► To issue soil health cards every 3 years, to all farmers of the country, so as to provide a basis to address nutrient deficiencies in fertilization practices.</br>
                    ► To strengthen functioning of Soil Testing Laboratories (STLs) through capacity building, involvement of agriculture students and effective linkage with Indian Council of Agricultural Research (ICAR) / State Agricultural Universities (SAUs).</br>
                    ► To diagnose soil fertility related constraints with standardized procedures for sampling uniformly across states and analysis and design taluqa / block level fertilizer recommendations in targeted districts.</br>
                    ► To develop and promote soil test based nutrient management in the districts for enhancing nutrient use efficiency.</br>
                    ► To build capacities of district and state level staff and of progressive farmers for promotion of nutrient management practices.
                    </br></br>
                    <a href="/../pdf/Guidelines_Soil Health Card.pdf">Click here for Guidelines ( 1.09 MB )</a>
                    </p>
                </div>
                </br>
                <button class="collapsible">e-Nam</button>
                <div class="content">
                  <p>
                    </br>
                        ► A national e-market platform for transparent sale transactions and price discovery initially in regulated markets. Willing States to accordingly enact suitable provisions in their APMC Act for promotion of e-trading by their State Agricultural Marketing Board/APMC.</br>
                        ► Liberal licensing of traders / buyers and commission agents by State authorities without any pre-condition of physical presence or possession of shop /premises in the market yard.</br>
                        ► One license for a trader valid across all markets in the State.</br>
                        ► Harmonisation of quality standards of agricultural produce and provision for assaying (quality testing) infrastructure in every market to enable informed bidding by buyers. Common tradable parameters have so far been developed for 69 commodities.</br>
                        ► Single point levy of market fees, i.e on the first wholesale purchase from the farmer.</br>
                        ► Provision of Soil Testing Laboratories in/ or near the selected mandi to facilitate visiting farmers to access this facility in the mandi itself. M/s. Nagarjuna Fertilizers and Chemicals Ltd. is the Strategic Partner (SP) who is responsible for development, operation and maintenance of the platform. The broad role of the Strategic Partner is comprehensive and includes writing of the software, customizing it to meet the specific requirements of the mandis in the States willing to integrate with NAM and running the platform.
                    </br></br>
                    <a href="/../pdf/Enamguidelines.pdf">Click here for Guidelines ( 1.09 MB )</a>

                </p>
                </div>
                </br>
                <button class="collapsible">Jaivik Kheti</button>
                <div class="content">
                  <p>
                    </br>
                    National Project on Organic Farming (NPOF) is a continuing central sector scheme since 10th Five Year Plan.Planning Commission approved the scheme as pilot project for the remaining two and half years of 10th plan period with effect from 01.10.2004 with an outlay of Rs. 57.04 crore. The scheme is continuing in the 11th plan with an outlay of Rs.101.00 crore.
                    </br></br>
                    <a href="/../pdf/Jaivik_Kheti_Guidelines.pdf">Click here for Guidelines ( 1.09 MB )</a>
                    </p>
                </div>
                
                <script>
                var coll = document.getElementsByClassName("collapsible");
                var i;
                
                for (i = 0; i < coll.length; i++) {
                  coll[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight){
                      content.style.maxHeight = null;
                    } else {
                      content.style.maxHeight = content.scrollHeight + "px";
                    } 
                  });
                }
                </script>

        </div>
    
      </main>
      
<!-- page-wrapper -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>

  

    <script  src="/../js/js-mainmenu.js"></script>




   
</body>

<script>
    $(".starttestload").submit(function (e) {
    e.preventDefault();

    var form = this;
    $("#loadingProgressG").show();
    $("#main").hide();

    setTimeout(function () {
    $("#loadingProgressG").hide();
    form.submit();
    $("#main").show();

    }, 3000); // in milliseconds
    });

   </script>


</html>
