<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="get" action="/insertvalues">
              
        <input type="submit" value="Start Test" />  
        </form>
        <% data1.forEach((sensor, index) => { %>
            <%=sensor.ph%>

            <%})%>

            <% data.forEach((sensor, index) => { %>
                <%=sensor.username%>
    
                <%})%>
          
        <%=title%>
      
</body>
</html>